.ph_color::label {
  color: rgb(185, 179, 179);
}
.success_msg {
  width: 400px;
  padding: 15px;
  margin: 5px 0;
  font-size: 14px;
  background-color: #f34646;
  color: white;
  border-radius: 5px;
  text-align: center;
}
.signup_div{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* text-align: center; */
  z-index: -1;
  width: 100%;
  padding: 0 30px;
  color: #1b1b1b;
}
@media (max-width: 920px) {
  .signup_div{
      margin-top: 140px;
  }
}